<footer class="mt-5 p-5 text-center bg-light" dir="rtl">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="logo"> 
              <h4>
                <span class="text-info">اتحاد الاعلاميين</span>
                <span class="text-danger"> العرب</span>
              </h4>
              <p class="text-muted text-right p-3 mt-4">
                نعمل على تمكين الاعلاميين في مجالات الإنتاج الفكري في الادب في الوطن العربى
              </p>
            </div>
          </div>
          <div class="col-md-4">
           <p>خريطة الموقع</p>
           <ul>
             <li>
               <a href="" class="btn btn-link" routerLink="">الرئيسية</a>
             </li>
             <li>
                <a href="" class="btn btn-link" routerLink="/about-us">عنا </a>
              </li> 
              <li>
                  <a href="" class="btn btn-link" routerLink="/connect-us">اتصل بنا</a>
              </li>
              <li>
                <a href="" class="btn btn-link" routerLink="/last-news">اخر الاخبار</a>
            </li>
             <li>
              <a href="" class="btn btn-link" routerLink="ظmedia-liberary">المكتبة الاعلامية</a>
          </li>
           <li>
            <a href="" class="btn btn-link" routerLink="/national-offices">مكاتب دولية</a>
        </li>
           </ul>
          </div>
          <div class="col-md-4">
            <h5 class="m-3">اشترك ليصلك جديد الاخبار</h5>
            <form>
              <div class="input-group">
                <input type="email" placeholder="ادخل الايميل" class="news-input text-center w-100 round">  
                <input type="submit" class="btn btn-info btn-block btn-sm m-2" value="اشترك">
              </div>
            </form>                
          </div>
        </div>
      </div>
</footer>
