<footer class="mt-5 p-5 text-center" dir="rtl">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="logo"> 
              <h4>
                <span>اتحاد الاعلاميين</span>
                <span class="text-danger">العرب</span>
              </h4>
            </div>
          </div>
          <div class="col-md-4">
           <p>خريطة الموقع</p>
           <ul>
             <li>
               <a href="" class="btn btn-link" routerLink="">الرئيسية</a>
             </li>
             <li>
                <a href="" class="btn btn-link" routerLink="/about-us">عنا </a>
              </li> 
              <li>
                  <a href="" class="btn btn-link" routerLink="/connect-us">اتصل بنا</a>
                </li>
           </ul>
          </div>
          <div class="col-md-4">
            <h5 class="m-3">اشترك ليصلك جديد الاخبار</h5>
            <div class="form-group">
              <input type="text" placeholder="ادخل الايميل" class="news-input">
            </div>
          </div>
        </div>
      </div>
</footer>
