<nav dir="rtl" class="navbar navbar-expand-lg navbar-light ">
  <div class="container">
    <a class="navbar-brand" routerLink="" href="#">
      <img
        height="100"
        width="200"
        src="../../../assets/img/35c51ffc-b566-4b8f-9ca0-e87e805368d6.jpg"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/">
            الرئيسية <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/last-news"
            tabindex="-1"
            aria-disabled="true"
            >اخر الاخبار</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/connect-us">اتصل بنا </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/about-us"
            tabindex="-1"
            aria-disabled="true"
            >عنا</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
            >الفاعليات</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
