<div dir="rtl" class="lastNews mt-5">
  <h2 class="float-right" id="lastNews">أخر الاخبار</h2>
  <br /><br />
  <div class="new ">
    <div *ngFor="let ls of lastNews" class="">
      <img
        [src]="ls.src"
        width="200px"
        height="100px"
        alt="ls.title"
        srcset=""
      />
      <p class="news-title">
        {{ ls.title }} <br />
        <a href="#" [routerLink]="['/last-news/', ls.key]" class="btn btn-link"
          >المزيد .......</a
        >
      </p>
    </div>
  </div>

</div>
