<div style="float:right d-block" class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <app-main-new></app-main-new>
    </div>
    <div class="col-md-4">
      <div class="contant">
        <h5>
          <q>أنا عربي ضد الإرهاب</q>
        </h5>
        <p class="text-muted text-right">
          رسالة إلى العالم في حفل تكريم الإعلاميين العرب بأسوان
        </p>
      </div>
    </div>
  </div>
</div> <hr>
<div class="main-news text-right" dir="rtl">
  <h3 class="headline">اخر الاخبار </h3>
  <div class="lastNews ">
    <div *ngFor="let ls of mainNews" class="">
      <img
        [src]="ls.src"
        width="200px"
        height="100px"
        alt="ls.title"
        srcset=""
      />
      <p class="news-title">
        {{ ls.title }} <br />
        <a href="#" [routerLink]="['/last-news/', ls.key]" class="btn btn-link"
          >المزيد .......</a
        >
      </p>
    </div>
  </div>
  <div class="text-center more-news">
    <a href="#" routerLink="/last-news"  class="btn btn-link text-center h2" >المزيد من الاخبار ...</a>
  </div>
</div>

