<div class="mt-5 about-us" style="">
  <h1 class="text-right">عن اتحاد الاعلاميين العرب :</h1>
  <div dir="rtl" class="containt mt-3">
    <br /><br />
    <h4 class="mt-4 headline text-info ">إنشاء الاتحاد وأهدافه :</h4>
    <p class="text-muted text">
      ـ نشأ في جمهورية مصر العربية منظمة دولية عربية غير حكومية باسم "اتحاد
      الإعلاميين العرب" بالإشهار رقم 636 لسنة 2012م وزارة العدل المصرية وتصريح
      الاتحاد العربي لحقوق الملكية الفكرية برقم 278 لسنة 2014 م ويكون لهذا
      الاتحاد الشخصية الاعتبارية، بجمهورية مصر العربية والوطن العربي
    </p>
    <h4 class="mt-2 headline text-info">- يهدف الاتحاد الي :</h4>
    <ul class="list-group">
      <li class="text-muted">
        العمل على تمكين الاعلاميين في مجالات الإنتاج الفكري في الادب في الوطن
        العربى، في أداء رسالتهم في بناء المجتمع وفي تحقيق الوحدة العربية الشاملة
        وفي الإسهام في إقرار السلام العالمي وإثراء الحضارة العربية
      </li>
      <li class="text-muted">
        العمل عن طريق الاعلام على وحدة الوطن العربي وتحقيق أهدافه القومية
      </li>
      <li class="text-muted">
        الحفاظ على اللغة العربية ورفع مستواها بين أبناء الوطن العربي
      </li>
      <li class="text-muted">
        العمل على رفع مستوى الإنتاج الفكري في الاعلام
      </li>
      <li class="text-muted">
        العمل على تأكيد الانتماء العربي والمشاركة في نشر الجيد من التراث العربي
        وإيضاح دور الرواد العرب في بناء الحضارة العربية
      </li>
      <li class="text-muted">
        الإسهام في ترجمة الجيد من الإنتاج الفكري العربي إلى اللغات الأجنبية ونقل
        روائع الإنتاج العالمي إلى اللغة العربية
      </li>
      <li class="text-muted">
        رعاية حقوق أعضاء الاتحاد والعمل على ترقية شئونهم الأدبية والعادية وضمان
        حرية التعبير الملتزم بالوطنية المصرية والقومية العربية والقيم الدينية
        والإنسانية
      </li>
      <li class="text-muted">
        مساعدة الأعضاء على إظهار مواهبهم المتباينة وتنميتها والمعاونة في نشر
        مؤلفاتهم في الداخل والخارج
      </li>
      <li class="text-muted">
        تشجيع الكتاب الشبان على إبراز طاقات الإبداع فيهم ومساعدتهم على نشر
        إنتاجهم وترويجه
      </li>
      <li class="text-muted">
        العمل على التعريف بإلانتاج الاعلامى في الداخل والخارج
      </li>
      <li class="text-muted">
        العمل على تنشئة أجيال من الكتاب لتنطلق من قاعدة التراث القومي والأصالة
        العربية وتتفاعل مع تقدم العصر ومنجزاته
      </li>
      <li class="text-muted">
        الدفاع عن حقوق المؤلفين في الجهات الحكومية والأهلية
      </li>
      <li class="text-muted">
        اقتراح تطوير اللوائح والتشريعات التي تخدم مهنة الاعلام
      </li>
      <li class="text-muted">
        تقوية روابط الزمالة بين الأعضاء
      </li>
      <li class="text-muted">
        التعاون مع الجمعيات والروابط العامة في ميادين الاعلام كل في مجاله لتحقيق
        هذه الأهداف وتنسيق جهودها في هذا السبيل
      </li>
      <li class="text-muted">
        عقد المؤتمرات والحلقات والندوات في مجالات الاعلام والمشاركة فيها وتوثيق
        الصلات بين الاتحاد والهيئات المماثلة في الوطن العربي وفي سائر أنحاء
        العالم
      </li>
      <li class="text-muted">
        محاولة الربط بين الاعلاميين المغتربين من العرب وبين الوطن الأم
      </li>
    </ul>
  </div>
</div>
