.about-us {
  .text {
    text-align: right;
    line-height: 2rem;
    display: inline-block;
  }
  p{
    font-weight: bold;
  }
  ul {
    display: inline-block;
  }
  ul li {
    text-align: right;
    line-height: 3rem;
    font-weight: bold;
  }
}
