.about-us {
  float: right;
  h1,
  h4,
  p {
    text-align: right;
  }
  .text {
    text-align: right;
    line-height: 2rem;
    display: inline-block;
  }
  ul {
    display: inline-block;
  }
  ul li {
    text-align: right;
    line-height: 3rem;
  }
}
